{% for c in challenges %}
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="challenge" value="{{ c.request_id }}" required>
            Название вызова: {{ c.title }} Сумма приза: {{ c.price }} руб.
            <i class="input-helper"></i></label>
    </div>
{% endfor %}