{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">
            Принять вызов
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="part1form" class="forms-sample" enctype="multipart/form-data">
                        <span id="form_action" style="display: none">/create_accept_challenge</span>
                        {#                        <div class="form-group">#}
                        {#                            <label for="channel">Я на YouTube</label>#}
                        {#                            <input type="url" required class="form-control" name="channel" id="channel_link"#}
                        {#                                   placeholder="Ссылка на канал">#}
                        {#                        </div>#}
                        {#                        <div class="form-group" id="wrong_channel" style="display: none">#}
                        {#                            <p class="text-danger">Канал не найден.</p>#}
                        {#                        </div>#}
                        <div class="form-group">
                            <span>
                                Я ПРИНИМАЮ ВЫЗОВ
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="channel">Мой email</label>
                            <input type="email" required class="form-control" name="email" id="email"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="search">Поиск вызова</label>
                            <input type="text" autocomplete="off" required class="form-control" name="search" id="search"
                                   placeholder="Уникальный код / ссылка на канал пользователя / ссылка на плейлист сервиса">
                        </div>
                        <div class="form-group" id="challenge_container">
                        </div>
                        {#                        <div class="form-group">#}
                        {#                            <label for="challenge">Список вызовов</label>#}
                        {#                            <select class="form-control" id="challenge" name="challenge">#}
                        {#                                {% for c in challenges %}#}
                        {#                                    <option value="{{ c.request_id }}">{{ c.title }}#}
                        {#                                        - {{ c.date_end|date:'d.m.Y' }} - {{ c.price }} руб.#}
                        {#                                    </option>#}
                        {#                                {% endfor %}#}
                        {#                            </select>#}
                        {#                        </div>#}
                        <div class="form-group">
                            <label>Загрузить видео</label>
                            <input type="file" name="video" accept="video/*" class="file-upload-default">

                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled=""
                                       style="display: none"
                                       placeholder="Загрузить видео" id="video_name">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button">Загрузить</button>
                        </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Описание</label>
                            <textarea required class="form-control" name="description" id="description" rows="4"></textarea>
                        </div>
                        <button type="submit" id="part1button" class="btn btn-gradient-primary mr-2">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}