{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">
            Очистить сейф
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="part1form" enctype="multipart/form-data" class="forms-sample">

                        <div class="form-group">
                            <label for="key">Мой ключ</label>
                            <input type="text" required class="form-control" name="key" id="key"
                                   placeholder="Ключ, созданный на странице 'Принять вызов'">
                        </div>

                        <div class="form-group" id="error_message" style="display: none">
                            <p class="text-info" id="error_value"></p>
                        </div>
                        <button type="button" id="forgot_key_btn" class="btn btn-gradient-primary mr-2">Я потерял ключ
                        </button>
                        <button type="button" id="take_prize_btn" class="btn btn-gradient-primary mr-2"
                                style="display:none;">Забрать приз
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}