{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">
            Инструкция по загрузке видео на YouTube
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div id="part1form" class="forms-sample">
                        <div class="form-group">
                            <ul>
                                <li>Скачайте <a href="/serve_video/{{ link }}" target="_blank">видео</a></li>
                                <li>Загрузите его на свой YouTube канал</li>
                                <li>Добавьте следующее описание:<br>
                                    {{ description|safe }}
                                </li>
                                {% if code %}
                                    <li>
                                        Ваш код доступа: <strong>{{ code }}</strong>
                                        <br>
                                        Сохраните его в надёжном месте!
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                        <button type="submit" id="part2button" class="btn btn-gradient-primary mr-2">Завершить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}