{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">
            Восстановление ключа
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="part1form" enctype="multipart/form-data" class="forms-sample">

                        <div class="form-group">
                            <label for="key">Email</label>
                            <input type="email" required class="form-control" name="email" id="email"
                                   placeholder="Email, введённый на странице 'Принять вызов'">
                        </div>

                        <div class="form-group" id="error_message" style="display: none">
                            <p class="text-info" id="error_value"></p>
                        </div>
                        <button type="submit" class="btn btn-gradient-primary mr-2">Отправить ключ
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}