{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">
            Бросить вызов
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="part1form" enctype="multipart/form-data" class="forms-sample">
                        <span id="form_action" style="display: none">/create_challenge</span>

                        {#                        <div class="form-group">#}
                        {#                            <label for="channel">Я на YouTube</label>#}
                        {#                            <input type="url" required class="form-control" name="channel" id="channel_link"#}
                        {#                                   placeholder="Ссылка на канал">#}
                        {#                        </div>#}
                        {#                        <div class="form-group" id="wrong_channel" style="display: none">#}
                        {#                            <p class="text-danger">Канал не найден.</p>#}
                        {#                        </div>#}
                        <div class="form-group">
                            <span>
                                Я БРОСАЮ ВЫЗОВ
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="channel">Мой email</label>
                            <input type="email" required class="form-control" name="email" id="email"
                                   placeholder="Email">
                        </div>


                        <div class="form-group">
                            <label>Загрузить видео</label>
                            <input type="file" name="video" accept="video/*" class="file-upload-default">

                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled=""
                                       placeholder="Загрузить видео" style="display: none" id="video_name">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button">Загрузить</button>
                        </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Название</label>
                            <input autocomplete="off" type="text" required class="form-control" name="name" id="name"
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="description">Описание</label>
                            <textarea required class="form-control" name="description" id="description" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Дата окончания</label>
                            <input style="display: none" autocomplete="off" id="datepicker" required type="text" class="form-control"
                                   name="date"
                                   placeholder="дд.мм.гггг">
                        </div>
                        <div class="form-group">
                            <span>
                                И ОБЪЯВЛЯЮ НАГРАДУ
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-gradient-primary text-white">P</span>
                                </div>
                                <input type="number" value="" required name="price" id="price" class="form-control">

                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="part1button" class="btn btn-gradient-primary mr-2">Далее</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}