{% extends 'base.html' %}
{% block content %}
    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-cash"></i>
              </span>
        {{ price }} руб.
    </h3>
    <div class="page-header">
        <h3 class="page-title">
        </h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="part1form" class="forms-sample" enctype="multipart/form-data">
                        <div class="form-group">
                            <span>
                               {{ title }}
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="payment_type"
                                           value="card" required checked>
                                    Visa / Mastercard
                                    <i class="input-helper"></i></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="payment_type"
                                           value="yandex" required>
                                    Яндекс.Деньги
                                    <i class="input-helper"></i></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="payment_type"
                                           value="qiwi" required>
                                    QIWI
                                    <i class="input-helper"></i></label>
                            </div>
                        </div>
                        <button type="button" id="{{ btn }}" data-request="{{ request_id }}"
                                class="btn btn-gradient-primary mr-2">{{ btn_label }}
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/file-upload.js"></script>
{% endblock %}