<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo">
                            <h1>IBetU</h1>
                        </div>

                        <form class="pt-3" action="/register" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" required class="form-control form-control-lg" id="last_name" name="last_name"
                                       placeholder="Фамилия">
                            </div>
                            <div class="form-group">
                                <input type="text" required class="form-control form-control-lg" id="first_name"
                                       name="first_name"
                                       placeholder="Имя">
                            </div>
                            <div class="form-group">
                                <input type="url" required class="form-control form-control-lg" id="channel"
                                       name="channel"
                                       placeholder="Ссылка на канал">
                            </div>
                            <div class="form-group">
                                <input type="email" required class="form-control form-control-lg" id="email" name="email"
                                       placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" required class="form-control form-control-lg" id="password"
                                       name="password"
                                       placeholder="Пароль">
                            </div>
                            <div class="mt-3">
                                <button type="submit"
                                        class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                                        href="/">Зарегистрироваться
                                </button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Есть аккаунт? <a href="/login" class="text-primary">Войти</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
</body>

</html>
